body {
    font-family: 'Segoe UI', 'Trebuchet MS', Sans-Serif;
}

.left_block {
    position: absolute;
    display: inline-block;
}

.left_block {
    width: 15%;
    left: 0;
    text-align: center;
    background-color: #EEE;
    top: 0;
    bottom: 0;
}

.main_wrapper {
    margin-left: 15%;
    padding-left: 3%;
    background-color: #DDD;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: inline-block;
    top: 0;
    overflow-x: auto;
    white-space: nowrap;
}

.proto_select {
    display: inline;
}

.main_wrapper .main_table {
    margin: auto;
}

#editInterface {
    width: 25%;
    position: relative;
    /*display: inline-block;*/
    min-width: 400px;
    float: left;
}

form table {
    font-size: 18px;
}

form table input {
    height: 25px;
}

form table input[type="text"], form table input[type="number"] {
    width: 200px;
    text-align: center;
}

#showImagesFormDiv {
    display: inline-block;
}

#showImagesFormDiv:hover {
    background-color: #CCC;
    cursor: pointer;
}

form table th {
    width: 100px
}

form table td {
    width: 200px
}

#canvasBlock {
    position: absolute;
    right: 20px;
    top: 100px;
}

#canvasExplorer {
    display: inline-block;
    position: relative;
    background-color: #CCC;
    padding-left: 20px;
    width: 28%;
    height: 100%;
    min-width: 400px;
}

#protoShipForm, #protoGunForm, #protoImageForm, #protoBulletForm {
    display: none;
}

#searchSIDResultTable {
    width: 100%;
}

#searchSIDResultTable td {
    text-align: center;
    padding: 5px;
}

#searchSIDResultTable td.ship, span.ship {
    color: blue;
}

#searchSIDResultTable td.gun, span.gun {
    color: green;
}

#searchSIDResultTable td.bullet, span.bullet {
    color: orange;
}

#searchSIDResultTable td.image, span.image {
    color: purple;
}

div .rotation-slider {
    width: 200px;
    /*height: 20px;*/
    font-size: 0.8em;
}

ul.ship-proto-ul {
    list-style-type: none;
    padding: 0px;
}

li.root table:hover {
    background-color: #C0C0C0;
}

li.root table {
    border-collapse: collapse;
}

li.root table td {
    padding: 5px;
}

#searchSIDResultTable td.selected {
    font-weight: bold;
    background-color: #DDD;
}

#searchSIDResultTable td:hover {
    background-color: #C9C9C9;
    font-weight: bold;
}

#backgroundDiv {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    opacity: 0.8;
    background-color: black;
}

#imagesFormDiv {
    background-color: #DDD;
    position: absolute;
    width: 80%;
    z-index: 11;
    overflow-y: scroll;
    display: none;
    text-align: center;
}

#imagesFormDiv .wrapper {
    display: inline-block;
    width: 300px;
    background-color: #CCC;
    margin: 10px;
}

#imagesFormDiv .img {
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
}

#imagesFormDiv .wrapper:hover {
    background-color: #BBB;
}

#imagesFormDiv .title {
    text-align: center;
    color: #000;
}